
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

body {
  background-image: url("/assets/unsplash_NTYYL9Eb9y8.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


 


